{% extends 'base.twig' %}
{# #}
{% block header %}

<header id="section-header" class="section bg-purple pt-24 flex flex-wrap">
    <div class="w-full h-1/2 mx-12 pt-12 pb-6 relative">
        <div class="w-full h-auto mt-12 mb-6 pin absolute">
            <div class="w-full h-full absolute">
                <img class="h-full w-auto opacity-0" id="header-ask" src="{{ theme.link }}/assets/images/header-ask.svg"
                    alt="" />
            </div>
            <div class="w-full h-full absolute">
                <img class="h-full w-auto opacity-0" id="header-meet" src="{{ theme.link }}/assets/images/header-meet.svg"
                    alt="" />
            </div>
            <div class="w-full h-full absolute">
                <img class="h-full w-auto opacity-0" id="header-join" src="{{ theme.link }}/assets/images/header-join.svg"
                    alt="" />
            </div>
        </div>
        <div class="w-1/2 ml-1/2 h-full px-12 absolute text-white flex flex-col justify-center">
            <div class="">
                <p class="text-4xl">
                    We support the Eindhoven
                    student life with knowledge,
                    money and an active network
                    of students and professionals.
                </p>
            </div>
        </div>
    </div>
    <div class="w-full h-1/2 mx-12 pt-6 pb-12 text-white relative">
        <div class="w-full h-auto mt-6 mb-12 pin absolute">
            <div class="w-full h-full absolute">
                <img class="h-full w-max-full" src="{{ theme.link }}/assets/images/logo-stehven.svg" alt="" />
            </div>
        </div>
    </div>
</header>


{% endblock %}
{# #}
{% block content %}

<section class="section flex flex-wrap">
    <div class="w-1/2">
        {% include "partials/hero.twig" with {
        background: 'green',
        title: 'asia week<br>eindhoven',
        subtitle: '<span class="font-medium">Organized by</span><br>TU/e Students',
        paragraph: 'Asia, are an indispensable and growing part regional industry and economy. With their presence
        colors the city. Various international communities broaden the cultural face of Eindhoven.'
        } %}
    </div>
    <div class="bg-white w-1/2">
        {% include "components/siema-slider.twig" with {
        options: {
        perPage: 1,
        loop: 1,
        controls: 1
        }
        } %}
    </div>
</section>

{# Get support #}

<section class="section flex flex-wrap">
    {% include "components/siema-triangle.twig" with {
    color1: 'red',
    color2: 'purple'
    } %}
    <div class="px-12 py-12 bg-purple w-1/2 flex">
        <div id="support-wrapper" class="h-full w-full overflow-hidden relative">
            <img class="h-full w-max-full" src="{{ theme.link }}/assets/images/get-support.svg" />
            <div id="here-wrapper" class="absolute pin-l pin-t">
                <img class="absolute pin-b pin-r h-auto" src="{{ theme.link }}/assets/images/button-here.svg" />
            </div>
        </div>
    </div>
</section>

{# Events #}
{% set slide1 %}
{% include "partials/hero.twig" with {
background: 'blue',
title: 'COMING <span class="text-red">UP</span><br>SAT-SUN<br><span class="text-red">26-27 JUNE</span>',
subtitle: '<span class="font-medium">Organized by</span><br>TU/e Students',
paragraph: ' TU/e in dialogue is organised by Studium Generale TU/e. Let’s meet, learn and debate around one the chosen
theme: Facing the Future.'
} %}
{% endset %}

{% set slide2 %}
{% include "partials/hero.twig" with {
background: 'red',
title: 'COMING <span class="text-blue">UP</span><br>SAT-SUN<br><span class="text-blue">26-27 JUNE</span>',
subtitle: '<span class="font-medium">Organized by</span><br>TU/e Students',
paragraph: ' TU/e in dialogue is organised by Studium Generale TU/e. Let’s meet, learn and debate around one the chosen
theme: Facing the Future.'
} %}
{% endset %}

{% set slide3 %}
{% include "partials/hero.twig" with {
background: 'blue',
title: 'COMING <span class="text-red">UP</span><br>SAT-SUN<br><span class="text-red">26-27 JUNE</span>',
subtitle: '<span class="font-medium">Organized by</span><br>TU/e Students',
paragraph: ' TU/e in dialogue is organised by Studium Generale TU/e. Let’s meet, learn and debate around one the chosen
theme: Facing the Future.'
} %}
{% endset %}


<section class="section flex flex-wrap">
    <div class="bg-white w-full">
        {% include "components/siema-slider.twig" with {
        options: {
        perPage: 2,
        loop: 0,
        controls: 1,
        draggable: 0
        },
        slides: [ slide1, slide2, slide3 ]
        } %}
    </div>
</section>

{% endblock %}
{# #}
{% block footer %}
{% include "partials/footer-ask-stehven.twig" %}
{% endblock %}