{% extends 'base.twig' %}

{% set prefix = 'home_' ~ locale|getLang ~ '_' %}

{% block header %}

<header id="section-header" class="section bg-purple pt-24 flex flex-wrap">
    <div class="w-full h-1/2 mx-12 pt-12 pb-6 relative">
        <div class="w-full h-auto mt-12 mb-6 pin absolute">
            <div class="w-full h-full absolute">
                <img class="h-full w-auto opacity-0" id="header-ask" src="{{ theme.link }}/assets/images/header-ask.svg"
                    alt="" />
            </div>
            <div class="w-full h-full absolute">
                <img class="h-full w-auto opacity-0" id="header-meet" src="{{ theme.link }}/assets/images/header-meet.svg"
                    alt="" />
            </div>
            <div class="w-full h-full absolute">
                <img class="h-full w-auto opacity-0" id="header-join" src="{{ theme.link }}/assets/images/header-join.svg"
                    alt="" />
            </div>
        </div>
        <div class="w-1/2 ml-1/2 h-full px-12 absolute text-white flex flex-col justify-center">
            <div class="">
                <p class="text-4xl">
                    {{ page.meta(prefix ~ 'header_text') }}
                </p>
            </div>
        </div>
    </div>
    <div class="w-full h-1/2 mx-12 pt-6 pb-12 text-white relative">
        <div class="w-full h-auto mt-6 mb-12 pin absolute">
            <div class="w-full h-full absolute">
                <img class="h-full w-max-full" src="{{ theme.link }}/assets/images/logo-stehven.svg" alt="" />
            </div>
        </div>
    </div>
        <div class="zenscroll absolute w-16 h-16 pin-b pin-r z-40 cursor-pointer" data-direction="down">
        <img src="{{ theme.link }}/assets/images/double-arrow-down.svg" alt="">
    </div>
</header>

{% endblock %}

{# #}

{% block content %}

{% if event %}
{% set slides = [] %}
{% for item in event.meta('event_images') %}
{% set slide = '<div class="w-full h-full" style="background-image: url(' ~ TimberImage(item.image).src ~ '); background-size: cover; background-position: center"></div>'
%}
{% set slides = slides|merge([ slide ]) %}
{% endfor %}
<section class="section flex flex-wrap">
    <div class="w-1/2">
        {% include "partials/hero.twig" with {
        background: 'green',
        title: event.title,
        subtitle: '<span class="font-medium">Organized by</span><br>' ~ event.meta('event_' ~ locale|getLang ~
        '_organizer'),
        paragraph: event.meta('event_' ~ locale|getLang ~ '_description')
        } %}
    </div>
    <div class="bg-white w-1/2">
        {% include "components/siema-slider.twig" with {
        options: {
        perPage: 1,
        loop: 1,
        controls: 1,
        draggable: 1
        },
        slides: slides,
        } %}
    </div>
</section>
{% endif %}

{# Get support #}

<section class="section flex flex-wrap">
    <div class="w-1/2">
        {% include "components/siema-triangle.twig" with {
        color1: 'red',
        color2: 'purple'
        } %}
    </div>
    <div class="px-12 py-12 bg-purple w-1/2 flex">
        <div id="support-wrapper" class="h-full w-full overflow-hidden relative">
            <img class="h-full w-max-full" src="{{ theme.link }}/assets/images/get-support.svg" />
            <div id="here-wrapper" class="absolute pin-l pin-t">
                {% if locale == 'en_GB' %}
                  {% set askLink = '/en/en-ask' %}
                {% else %}
                  {% set askLink = '/nl-ask' %}
                {% endif %}
                
                <a href="{{ site.url ~ askLink }}"><img class="absolute pin-b pin-r h-auto"
                        src="{{ theme.link }}/assets/images/button-here.svg" /></a>
            </div>
        </div>
    </div>
</section>

{# Upcoming #}

{% set slides = [] %}
{% set toggle = true %}

{% for item in upcoming %}
{% if toggle %}
{% set background = 'blue' %}
{% set accent = 'red' %}
{% set toggle = false %}
{% else %}
{% set background = 'red' %}
{% set accent = 'blue' %}
{% set toggle = true %}
{% endif %}


{% set slide %}
{% if item.meta('upcoming_has_end_date') == true %}
{% set days = getDays(item.meta('upcoming_start_date'), item.meta('upcoming_end_date')) %}
{% set date = getDates(item.meta('upcoming_start_date'), item.meta('upcoming_end_date')) %}
{% else %}
{% set days = getDay(item.meta('upcoming_start_date')) %}
{% set date = getDate(item.meta('upcoming_start_date')) %}
{% endif %}

{% include "partials/hero.twig" with {
background: background,
title: 'COMING <span class="text-'~ accent ~'">UP</span><br>' ~ days ~ '<br><span class="text-'~accent~'">' ~ date ~ '</span>',
subtitle: '<span class="font-medium">' ~ item.title ~ '</span><br><br>' ~ '<span class="font-medium">Organized by</span><br>'
~ item.meta('upcoming_' ~ locale|getLang ~ '_organizer'),
paragraph: item.meta('upcoming_' ~ locale|getLang ~ '_description')
} %}
{% endset %}

{% set slides = slides|merge([slide]) %}
{% endfor %}

<section class="section flex flex-wrap">
    <div class="bg-blue w-full">
        {% include "components/siema-slider.twig" with {
        options: {
        perPage: 2,
        loop: 1,
        controls: 1,
        draggable: 1
        },
        slides: slides
        } %}
    </div>
</section>

{% endblock %}

{# #}

{% block footer %}

{% include "partials/footer-ask-stehven.twig" with {
    text: page.meta(prefix ~ 'footer_text'),
    mail: page.meta(prefix ~ 'footer_mail'),
} %}

{% endblock %}