{% if menu %}
<div id="menu-wrapper" class="wrapper relative w-full">
    <nav id="menu" class="w-full h-24 px-8 bg-black fixed z-50 flex items-center justify-between">
        <div class="flex items-end">
            <div class="h-12">
                <a href="#">
                    <img class="h-full max-h-full" src="{{ theme.link }}/assets/images/logo-stehven.svg" />
                </a>
            </div>
            <div class="h-4 text-xl ml-8">
                {% for item in menu %}
                {% if item.title == 'English' and lang != 'en_GB' %}
                <a class="text-white no-underline" target="{{ item.target }}" href="{{ item.link }}">EN</a>
                {% endif %}
                {% if item.title == 'Nederlands' and lang != 'nl_NL' %}
                <a class="text-white no-underline" target="{{ item.target }}" href="{{ item.link }}">NL</a>
                {% endif %}
                {% endfor %}
            </div>

        </div>
        <div class="h-24 flex items-center">
            <div class="h-24">
                <ul id="submenu" class="list-reset overflow-y-hidden flex font-druk text-5xl leading-none uppercase">
                    <li class="h-24 px-12 text-black bg-white flex flex-col justify-center">ask</li>
                    <li class="h-24 px-12 text-white bg-black flex flex-col justify-center">meet</li>
                    <li class="h-24 px-12 text-black bg-white flex flex-col justify-center">portfolio</li>
                    <li class="h-24 px-12 text-white bg-black flex flex-col justify-center">contact</li>
                </ul>
            </div>
            <div id="burger" class="flex flex-col justify-around h-10 pl-8 my-1">
                <div class="border-b-4 border-white w-10"></div>
                <div class="border-b-4 border-white w-10"></div>
                <div class="border-b-4 border-white w-10"></div>
            </div>
        </div>
    </nav>
</div>
{% endif %}