<div class="siema-triangle w-1/2 flex flex-col flex-wrap">
    <div class="siema-slider">
        <div class="siema-slide bg-{{ color1 }}">
            <div class="w-full h-1/2 text-{{ color2 }}">
                {% include "components/triangle-top-svg.twig" %}
            </div>
            <div class="w-full h-1/2 text-{{ color2 }}">
                {% include "components/triangle-bottom-svg.twig" %}
            </div>
        </div>
        <div class="siema-slide bg-{{ color2 }}">
            <div class="w-full h-1/2 text-{{ color1 }}">
                {% include "components/triangle-top-svg.twig" %}
            </div>
            <div class="w-full h-1/2 text-{{ color1 }}">
                {% include "components/triangle-bottom-svg.twig" %}
            </div>
        </div>
    </div>
</div>