<div class="siema-triangle w-full flex flex-col flex-wrap" data-direction="{{ direction }}">
    <div class="siema-slider">
        <div class="siema-slide bg-{{ color1 }}">
            {% if (direction == 'left') %}
            <div class="w-full h-1/2 text-{{ color2 }}">
                {% include "components/triangle-bottom-svg.twig" %}
            </div>
            <div class="w-full h-1/2 text-{{ color2 }}">
                {% include "components/triangle-top-svg.twig" %}
            </div>
            {% else %}
            <div class="w-full h-1/2 text-{{ color2 }}">
                {% include "components/triangle-top-svg.twig" %}
            </div>
            <div class="w-full h-1/2 text-{{ color2 }}">
                {% include "components/triangle-bottom-svg.twig" %}
            </div>
            {% endif %}
        </div>
        <div class="siema-slide bg-{{ color2 }}">
            {% if (direction == 'left') %}
            <div class="w-full h-1/2 text-{{ color1 }}">
                {% include "components/triangle-bottom-svg.twig" %}
            </div>
            <div class="w-full h-1/2 text-{{ color1 }}">
                {% include "components/triangle-top-svg.twig" %}
            </div>
            {% else %}
            <div class="w-full h-1/2 text-{{ color1 }}">
                {% include "components/triangle-top-svg.twig" %}
            </div>
            <div class="w-full h-1/2 text-{{ color1 }}">
                {% include "components/triangle-bottom-svg.twig" %}
            </div>
            {% endif %}
        </div>
    </div>
</div>